.header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.header__logo {
    color: #00277e;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}
.header__nav {
    font-size: 16px;
}
.header__nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header__nav-list-item {
    margin-left: 30px;
}
.header__nav-list-item a {
    color: #00277e;
    font-weight: bold;
    text-decoration: none;
}
.mv {
    height: calc((680vw / 1440) * 100);
    position: relative;
}
.mv__ttl {
    font-size: calc((70vw / 1440) * 100);
    font-weight: normal;
    position: absolute;
    bottom: calc((200vw / 1440) * 100);
    z-index: 2;
}
.mv__ph {
    width: 50%;
    height: calc((480vw / 1440) * 100);
    object-fit: cover;
    position: absolute;
    right: 0;
    top: calc((98vw / 1440) * 100);
    z-index: 1;
}
.mv__box {
    background: #00277e;
    width: 75%;
    height: calc((200vw / 1440) * 100);
    position: absolute;
    left: 0;
    bottom: 0;
}